* {
    margin: 0;
    box-sizing: border-box;
    color: #484848;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Inconsolata', monospace, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Helvetica Neue', sans-serif;
    background-color: #ede7b1;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    max-height:800px;
    height: 100%;
}

.main-logo {
    display: block;
    width: auto;
    max-width: 200px;
    margin: 1.25rem auto 0.8rem auto;
}

hr {
    width: 100%;
    margin: 0
}

h1 {
    font-size: 1.7em;
    text-align: center;
    text-shadow: 1px 1px #eee;
}

h2 {
    color: #f694c1;
    text-align: center;
    padding: 0 0.625rem;
    text-shadow: 1px 1px #eee;
}

footer {
    padding-bottom: 0.625rem;
    font-size: 0.8rem;
    text-align: center;
    text-shadow: 0.5px 0.5px #eee;
}

.do-btn {
    font-size: 1.3rem;
    font-weight: 800;
    width: 180px;
    height: 55px;
    background-color: #f694c1;
    border: 2px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 2.5rem;
    text-shadow: 0.5px 0.5px #eee;
}

.do-btn:hover,
.do-btn:focus {
    background-color: #e4c1f9;
    border: 2px solid #f694c1;
}

.do-btn:active {
    background-color: #f694c1;
    border: 2px solid #484848;
}